{% extends "dashboard/layout.html" %}
{% block content %}

<div class="row">
  <div class="col-lg-6 pt-4">
    <h3><i class="fas fa-users mr-3"></i>Customers</h3>

  </div>

  <div class="container col-lg-6 pt-4" >
    <a href="{% url 'customers'%}" class="btn btn-outline-primary btn-sm mr-1 float-right ml-1" role="button"> <i class="iconify" data-icon="mdi:refresh-circle" data-inline="false" data-height="18"></i>Refresh</a>
    <a href="{% url 'layers_sales'%}" class="btn btn-outline-secondary btn-sm ml-1 float-right mr-1" role="button"><i class="fas fa-table mr-2"></i>Sales Records</a>
    <a class="btn btn-outline-success btn-sm ml-1 float-right mr-1" href="{% url 'add_layers_customer' %}" data-toggle="modal" data-target="#addLayersCustomer" id="addLayersCustomerBtn"><i class="iconify" data-icon="gridicons:add" data-inline="false" data-height="18"></i>Add Customer</a>
  </div>

</div>
<hr></hr>

<form class ="form-inline" method="post" id="addLayersCustomerForm" style="width:100%" action="{% url 'add_layers_customer' %}">
  {% csrf_token %}
  <div id="addLayersCustomer" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Customer Registration Form</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="col-sm-12">
            <label class="sr-only" for="date">Date</label>
            <div class="input-group mb-2 mr-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
              </div>
              {{form.reg_date}}
            </div>
          </div>

          <div class="col-sm-12">
            <label class="sr-only" for="firstname">First Name</label>
            <div class="input-group mb-2 mr-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user"></i></div>
              </div>
              {{form.firstname}}
            </div>
          </div>

          <div class="col-sm-12">
            <label class="sr-only" for="lastname">Last Name</label>
            <div class="input-group mb-2 mr-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user"></i></div>
              </div>
              {{form.lastname}}
            </div>
          </div>

          <div class="col-sm-12">
            <label class="sr-only" for="phonenumber">Phone Number</label>
            <div class="input-group mb-2 mr-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-mobile-alt"></i></div>
              </div>
              {{form.phonenumber}}
            </div>
          </div>

          <div class="col-sm-12">
            <label class="sr-only" for="email">Email Address</label>
            <div class="input-group mb-2 mr-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-at"></i></div>
              </div>
              {{form.email}}
            </div>
          </div>

          <div class="col-sm-12">
            <label class="sr-only" for="location">Location</label>
            <div class="input-group mb-2 mr-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class=" 	fas fa-map-marker-alt"></i></div>
              </div>
              {{form.location}}
            </div>
          </div>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-success ml-2" type="submit" id="btnSubmit"><i class="fas fa-save"></i> Submit</button>
          <button class="btn btn-warning ml-2" id="btnReset" type="reset"><i class="fas fa-undo-alt"></i> Reset</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form class ="form-inline" method="post" id="updateModalForm" style="width:100%" action="{%url 'layers_customers'%}">
  {% csrf_token %}

  <div class="modal" id="updateModal" tabindex="-1" caller-id="" role="dialog"">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Customer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button class="btn btn-success ml-2" type="submit" id="layercustomerBtn" ><i class="fas fa-save"></i> Save</button>
          <a href="{% url 'layers_customers'%}" class="btn btn-danger" role="button"><i class="fas fa-times-circle"></i> Cancel</a>
          </div>
      </div>
    </div>
  </div>
  </form>

  <form method="post" id="deleteModalForm" novalidate>
    {% csrf_token %}
    <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Customer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete {{customer.firstname}} {{customer.lastname}}?</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger ml-2" type="submit" id="deleteBtn" ><i class="fas fa-trash-alt"></i> Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>


<div class="container-fluid col-lg-12">
  <!--<a href="#" class="btn btn-success" id="menu-toggle">Toggle Menu</span></a>-->
  <div class="table-responsive">
    <table class="table table-striped table-sm border" id="customers" data-toggle="table"   data-pagination="true" data-search="true">
      <thead class="table-secondary">
        <tr>
          <th class="d-none">Registration Date</th>
          <th data-sortable="true" >Registration Date</th>
          <th data-sortable="true" >Customer Name</th>
          <th data-sortable="true" >Phone Number</th>
          <th data-sortable="true" >Email</th>
          <th data-sortable="true" >Location</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>

        {% for customer in layers_customers.all %}
        <tr>
          <td class="font-weight-light d-none" >{{customer.reg_date_1}}</td>
          <td class="font-weight-light">{{customer.reg_date_2}}</td>
          <td class="font-weight-light">{{customer.customername}}</td>
          <td class="font-weight-light">{{customer.phonenumber}}</td>
          <td class="font-weight-light">{{customer.email}}</td>
          <td class="font-weight-light">{{customer.location}}</td>
          <td class="text-center">
            <!-- <a class="btn btn-outline-success border-0 btn-sm" href="{% url 'update_layers_customer' customer.id %}"  id="updateLayersCustomerBtn">
              <i class="far fa-edit" data-toggle="tooltip" title="edit" data-placement="right"></i>
            </a>
            <a href="{% url 'delete_layers_customer' customer.id %}"  class="btn btn-outline-warning border-0 btn-sm"  id="deleteLayersCustomerBtn">
              <i class="far fa-trash-alt" data-toggle="tooltip" title="delete" data-placement="right"></i>
            </a> -->

            <button data-id="{{customer.id}}" data-url="{% url 'edit_layers_customer' customer.id %}" type="button" class="btn btn-outline-success border-0 btn-sm updateBtn" >
              <i class="far fa-edit" data-toggle="tooltip" title="edit" data-placement="right"></i>
            </button>

            <button data-id="{{customer.id}}" data-url="{% url 'delete_layers_customer' customer.id %}" type="button" class="btn btn-outline-danger border-0 btn-sm deleteBtn" >
              <i class="far fa-trash-alt" data-toggle="tooltip" title="delete" data-placement="right"></i>
            </button>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>

{% endblock %}
