<div class="col-sm-12">
  <label class="sr-only" for="date">Date</label>
  <div class="input-group mb-2 mr-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
    </div>
    {{form.reg_date}}
  </div>
</div>

<div class="col-sm-12">
  <label class="sr-only" for="firstname">First Name</label>
  <div class="input-group mb-2 mr-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-user"></i></div>
    </div>
    {{form.firstname}}
  </div>
</div>

<div class="col-sm-12">
  <label class="sr-only" for="lastname">Last Name</label>
  <div class="input-group mb-2 mr-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-user"></i></div>
    </div>
    {{form.lastname}}
  </div>
</div>

<div class="col-sm-12">
  <label class="sr-only" for="phonenumber">Phone Number</label>
  <div class="input-group mb-2 mr-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-mobile-alt"></i></div>
    </div>
    {{form.phonenumber}}
  </div>
</div>

<div class="col-sm-12">
  <label class="sr-only" for="email">Email Address</label>
  <div class="input-group mb-2 mr-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-at"></i></div>
    </div>
    {{form.email}}
  </div>
</div>

<div class="col-sm-12">
  <label class="sr-only" for="location">Location</label>
  <div class="input-group mb-2 mr-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class=" 	fas fa-map-marker-alt"></i></div>
    </div>
    {{form.location}}
  </div>
</div>
