{% extends "dashboard/layout.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-6 pt-4">
    <h3><i class="fas fa-users mr-3"></i>Add Customer</h3>

  </div>

  <div class="container col-lg-6 pt-4" >

    <a href="{% url 'customers'%}" class="btn btn-outline-primary btn-sm mr-1 float-right ml-1" role="button"> <i class="iconify" data-icon="mdi:refresh-circle" data-inline="false" data-height="18"></i>Refresh</a>
    <a href="{% url 'sales'%}" class="btn btn-outline-secondary btn-sm ml-1 float-right mr-1" role="button"><i class="fas fa-table mr-2"></i>Sales Records</a>
    <button type="button" class="btn btn-outline-success btn-sm ml-1 float-right mr-1" data-toggle="modal" data-target="#customerReg" type="reset"><i class="iconify" data-icon="gridicons:add" data-inline="false" data-height="18"></i>Add Customer</button>
  </div>

</div>
<hr></hr>

<form method="post" action="#" >
  {% csrf_token %}
    <p>Are you sure you want to delete {{ customer.customername }} ?</p>
    <input type="submit" value="Confirm">
</form>

{% endblock %}
